h2{
    margin-top: 80px;
}

#percepcionesDisplay{
    overflow-y: auto;
    height: 13vh;
    border: 3px solid black;
    border-radius: 10px;
    width: 520px;
    height: 120px;
    margin: auto;
}

#totalPer{
    text-align: center;
    width: 200px;
    margin:auto;
}

/*----- En macOs, forzar para que aparezca la scrollbar ----*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }