hr{
    margin: 60px;
    clear: both;
    margin-top: 550px;
}

h2{
    clear: both;
    margin-left: 30px;
    padding-top: 20px;
    font-size: 50px;
}

p{
    font-size: 20px;
    margin-left: 50px;
}

#descripcion{
    text-align: left;
    height: 30vh;
    background: rgb(127,172,93);
    background: linear-gradient(0deg, rgba(127,172,93,1) 54%, rgba(196,196,196,1) 100%);
    border-radius: 3px;
    margin-bottom: 0;
}

#funcionamiento{
    text-align: right;
    margin-top: -42px;
    height: 40vh;
    background-color: rgb(217, 240, 221);
    margin-bottom: 20px;
}

#funcionamiento  p, h2{
    margin-right: 50px;
}

#actualizaciones {
    font-size: 30px;
    background-color: rgb(194, 209, 192);
    margin: auto;
    height: 10vh;
    margin-top: -35px;
    padding: 8px;
    padding-bottom: 20px;
}

app-retenciones{
    margin-top: 10px;
    float: left;
    margin-left: 80px;
    border-right: 5px solid rgb(47, 92, 67);
    padding-right: 112px;
}

app-percepciones{
    margin-top: 10px;
    float: right;
    margin-right: 80px;
}