<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-retenciones> </app-retenciones>
<app-percepciones></app-percepciones> 
<hr>
<div id="descripcion">
    <h2>¿Para que funciona?</h2>
    <p>La aplicacion fue creada para resolver el problema tedioso de creacion de archivos .txt de retenciones<br>
         y percepciones de Capital Federal (AGIP) necesitados para poder informar las mismas en la declaracion<br>
          mensual de Ingresos Brutos en AFIP
    </p>
</div>
<div id="funcionamiento">
    <h2>¿Como funciona?</h2>
    <p> Para poder utilizar la aplicacion, debe copiar todas las retenciones / percepciones, desde el primer caracter <br>
        hasta el ultimo, y pegarlas en su respectiva casilla. Al presionar el boton "En formato", recibiremos en el cuadro <br>
        todas las retenciones / percepciones en el formato solicitado por el sistema de la AFIP.<br>
        <br>
        Al presionar el boton de "Descargar archivo .txt" podremos descargar el archivo con las retenciones / percepciones <br>
        en formato, listo para ser subido al sistema de Sifere WEB para poder realizar la declaracion de Ingresos Brutos 
    </p>
</div>
<div id="actualizaciones">
    <h3>Ultimas actualizaciones : </h3>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
